@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sen:wght@400..800&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style-type: none !important;
  box-sizing: border-box !important;
}

.ff_outfit {
  font-family: "Outfit", sans-serif;
}
.ff_sen {
  font-family: "Sen", serif;
}
.group_hover:hover svg path,
.group_hover:hover span {
  fill: #6c4def;
  fill-opacity: 1;
  color: #6c4def;
  opacity: 1;
}
.group_hover:hover .setting_svg path {
  stroke: #6c4def !important;
  fill: transparent !important;
  stroke-opacity: 1;
}
.scrollRemove::-webkit-scrollbar {
  display: none;
}
